body {
    background-color: #fff;
    font-family: Helvetica, ;
    color: #043353;
    font-weight: 500;
}

/* Jumbotron */
.jumbotron {
    margin-top: -20px;
    background-image: url(img/kucinglogin.jpg) ;
    background-size: cover;
    background-position: center;
    padding-top: 17%;
    padding-bottom: 11%;
}

.btn-primary {
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    font-weight: bold;
}

/* font */
.jumbotron .display-4 {
    margin-top: 150px;
    font-size: 40pt;
    font-weight: 600;
    color: #00d5f1;
    font-family: 'Roboto Slab', serif;
}

.jumbotron .display {
    margin-top: -20px;
    font-size: 25pt;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}

/* FOOTER */
/* .footer{
        background: #303036;
        color: #d3d3d3;
        height: 300px;
        position: relative;
    } */

.footer-bottom {
    background: #343a40;
    color: #686868;
    height: 10%;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: -35px;
    padding-top: 20px;
}
